{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "strict": [
      "error",
      "never"
    ],
    "no-unused-vars": "warn",
    "no-case-declarations": "warn",
    "no-unreachable": "warn",
    "require-atomic-updates": "warn",
    "no-useless-escape": "warn"
  },
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "app": "readonly",
    "middlewares": "readonly"
  }
}